# Laravel
/vendor/
/node_modules/
/public/storage/
/storage/*.key
/storage/app/public/
.env
.env.*
.env.backup
.env.local
.env.development
.env.production
Homestead.yaml
Homestead.json
/.vagrant/
/.idea/
/.vscode/

# Laravel Mix / Vite
/public/hot
/public/build/
/public/mix-manifest.json

# Laravel Sail
docker-compose.override.yml

# Logs & Cache
/storage/logs/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/framework/testing/

# OS/Editor junk
*.DS_Store
Thumbs.db
*.swp
*.swo

# Composer & NPM
composer.lock
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log

# PHPUnit
.phpunit.result.cache

# Debugbar
debugbar/

# Laravel Telescope
/storage/telescope/
